// Mixins Here

.botton(@padding, @border-radius) {
    padding: @padding;
    border-radius:@border-radius ;
    font-size:20px;
    background-color:@header-font-color;
    color: white;
    cursor: pointer;
  
    &:hover {
      // The compiled color returned is #006667 
      background-color: darken(blue, 40%)
    }
  }


  .header-mix() {	
    display: flex;	
    flex-direction: column;	
    align-items: center;	
    justify-content: center;	
  }

  .home-page-walk(){
     display:flex;
     justify-content: center;
  }