// Navigation code here

.top-nav{
    width:90%;
    margin:auto;
    text-align: center;	
    background:@wild-sand;
    padding: 5px 10px 10px 10px;

    h1 {	
        font-size: 40px;	
        margin: 20px 0;	
      }

      a{
          font-size:18px;
          margin:14px 15px;
      }

}//.top-nav

